{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
{% image page.banner_image original as banner %}
<div class="jumbotron jumbotron-fluid jumbotron-image" style="background-image:  url({{banner.url}})">
  <div class="container national-park">
    <h1 class="display-4 text-light shadow-text ">{{ self.title }}</h1>
    <p class="text-light shadow-text">{{self.info}}</p>
  </div>
</div>
<div class="container">
  {{page.content|richtext}}
</div>
{% endblock %}
