[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"
"psycopg2-binary" = "*"
django-storages = "*"
"boto3" = "*"

[dev-packages]

[requires]
python_version = "3.6"
