<html>
<head>
  <link href="/static/base.css" rel="stylesheet"/>
</head>
<body>
  <div class="header">
    <div class="header-item-home">
      <a href="/">home</a>
    </div>
    <div class="header-item">
      <a href="/contact/">contact</a>
    </div>
    <div class="header-item">
      <a href="/resume/">resume</a>
    </div>
    <div class="header-item">
      <a href="/projects/">projects</a>
    </div>
    <div class="header-item">
      <a href="/blog/">blog</a>
    </div>
  </div>
  {% block content %}
  {% endblock %}
</body>
</html>
