{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container pt-3">
  <div class="d-flex justify-content-between">
    <h1 class="d-none d-print-block">{{ self.name }}</h1>
    <p class="d-none d-print-block pt-2">{{ self.email }}</p>
  </div>
  <hr class="d-none d-print-block" />

  <h2>About</h2>
  <p> {{ self.about | richtext }}</p>

  <h2>Experience</h2>
  {% for exp in self.experience.all %}
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <h4>{{exp.title}}</h4> 
      {% if exp.url %}
      <a class="d-print-none pl-2 link-secondary" href={{ exp.url}}>
        <i class="fa fa-external-link"></i></a>
      {% endif %}
    </div>

    <span class="pt-2">{{ exp.when.lower | date:'M Y'}} {% if exp.when.upper %} - {{exp.when.upper | date:'M Y' }} {% endif %}</span>

  </div>
  {{ exp.description | richtext }}
  {% endfor %}
</div>
{% endblock %}
